fastapi
uvicorn
python-multipart
opencv-python-headless
onnxruntime
sqlalchemy
bcrypt
python-jose[cryptography]
psycopg2-binary
python-dotenv
torch --index-url https://download.pytorch.org/whl/cpu
timm
ultralytics
